<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/components/stylesheets/jquery.countdown.css">
    <script type="text/javascript" src="/components/javascripts/jquery.plugin.js"></script>
    <script type="text/javascript" src="/components/javascripts/jquery.countdown.js"></script>

    <script src="//load.sumome.com/" data-sumo-site-id="ce72dfc40e9467c5f49fea8c28e569851a645454d611fa0eba272df92f4b8471" async="async"></script>

  </head>

  <body>
    <%= render partial: "shared/header" %>
    <main>
      <%= yield %>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
  <script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();

        $('.modal').modal();
    });
</script>
</html>
